/* Login.css */
.login-container {
    /* background: url('') center center fixed;
     */
     background-color: #ddd;
    background-size: cover;
    height: 100vh;
  }
  
  .login-card {
    background: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background */
    border: 1px solid #ddd; /* Add a border for the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    
  }
  